.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.first-box, .medial-box, .end-box{
    justify-content: space-between;
    display: flex;
}

.f, .m, .e {
    display: flex;
}

.f {
    justify-content: flex-start;
}

.m {
    flex-grow: 1;
    justify-content: center;
}

.e {
    justify-content: flex-end;
}

.first-box{
    flex-direction: row;

}

.first-box .f{
    align-items: flex-start;
}

.first-box .m{
    align-items: flex-start;
}

.first-box .e{
    align-items: flex-start;
}

.medial-box{
    flex-direction: row;
    flex-grow: 1;
}

.medial-box .f{
    align-items: center;
}

.medial-box .m{
    align-items: center;
}

.medial-box .e{
    align-items: center;
}

.end-box{
    flex-direction: row;
}

.end-box .f{
    align-items: flex-end;
}

.end-box .m{
    align-items: flex-end;
}

.end-box .e{
    align-items: flex-end;
}

.c{
    height: 50px;
    width: 50px;
    background-color: aqua;
}